body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  height: 100vh;

  main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 16px;
    table {
      background-color: black;
      color: white;
      overflow-y: scroll;
      display: block;
    }
    .cell {
      padding: 32px 8px;
      font-size: 45px;
      border: 0.1px solid whitesmoke;
    }
  }
}

.error {
  color: red;
}

.loading {
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}
